@font-face {
  font-family: 'AdihausDIN';
  src: url('./fonts/adiHausDIN-Regular.woff2') format('woff2');
}

.container {
  display: block;
  font-family: AdihausDIN;
  background-color: #ebedee;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
}

