.background {
  width: 100%;
}

.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.imageViewer {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}

.imageContainer {
  width: auto;
  position: relative;
  float: none;
  background-color: #ebedee;
}

.leftArrow {
  display: block;
  font-size: 24px;
  padding: 25px;
  left: 14%;
  top: calc(50% - 10px);
  position: absolute;
  z-index: 25;
  cursor: pointer;
  transition: all .2s cubic-bezier(.3,0,.45,1);
}

.leftArrow:hover {
  transform: translate(-10px, 0);
}

.rightArrow {
  display: block;
  font-size: 24px;
  padding: 25px;
  right: 14%;
  top: calc(50% - 10px);
  position: absolute;
  z-index: 25;
  cursor: pointer;
  transition: all .2s cubic-bezier(.3,0,.45,1);
}

.rightArrow:hover {
  transform: translate(10px, 0);
}

.arrow {
  position: absolute;
  color: #000;
  top: 1px;
}

.arrowShadow {
  position: absolute;
  color: #fff;
  top: 2px;
}

.image {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  cursor: zoom-in;
}

.carousel {
  display: block;
  overflow-y: hidden;
  overflow-x: scroll;
  box-sizing: border-box;
  background-color: #fff;
}

.carouselContainer {
  height: 60px;
  width: 100%;
  max-height: 438px;
  z-index: 20;
  white-space: nowrap;
}

.carouselPrev {
  top: 0;
  border-top: 3px solid #000;
}

.carouselNext {
  bottom: 0;
  border-bottom: 3px solid #000;
}

.carouselButton {
  display: inline-block;
  margin: 0;
  border: none;
  width: 24px;
  height: 22.5px;
  cursor: pointer;
  background-size: cover;
}

.thumbnail {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  height: 60px;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
}

.selectedThumbnail {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  height: 60px;
  width: 60px;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  box-sizing: border-box;
}

.thumbnailImage {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
}

@media (min-width: 960px) {
  .container {
    width: 66.66667%;
    margin-left: 0;
    margin-right: 0;
  }
  .imageContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
  .imageViewer {
    width: 100%;
  }
  .image {
    max-width: 620px;
    max-height: 620px;
  }
  .carousel {
    overflow-y: visible;
    overflow-x: visible;
    width: auto;
  }
  .carouselContainer {
    display: block;
    height: 566px;
    width: 54px;
    position: absolute;
    left: 15px;
    top: 80px;
    bottom: 60px;
    overflow: hidden;
    white-space: nowrap;
  }
  .carouselPrev {
    display: flex;
    width: 100%;
    height: 25px;
    position: absolute;
    background: transparent;
    z-index: 30;
    box-sizing: border-box;
    justify-content: center;
    cursor: pointer;
  }
  .carouselNext {
    display: flex;
    width: 100%;
    height: 25px;
    position: absolute;
    background: transparent;
    z-index: 30;
    box-sizing: border-box;
    justify-content: center;
    cursor: pointer;
  }
  .thumbnail {
    display: block;
    border: 1px solid #767677;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    height: 54px;
    width: 54px;
    box-sizing: border-box;
    transition: transform .2s cubic-bezier(.3,0,.45,1);
  }
  .thumbnail:hover {
    border-bottom: 2px solid #767677;
  }
  .selectedThumbnail {
    display: block;
    border: 1px solid #767677;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
    height: 54px;
    width: 54px;
    box-sizing: border-box;
    transition: transform .2s cubic-bezier(.3,0,.45,1);
  }
  .selectedThumbnail:hover {
    border-bottom: 2px solid #767677;
  }
  .thumbnailImage {
    height: 52px;
    width: 52px;
  }
}

@media (max-width: 959px) {
  .carouselPrev {
    display: none!important;
  }
  .carouselNext {
    display: none!important;
  }
}
