.container {
  z-index: 25;
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  overflow: auto;
  border: 1px solid #767677;
  background-color: #fff;
}

.sizeContainer {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px 10px;
}

.sizeList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  padding-bottom: 16px;
  margin: 0 -5px -5px 0;
  box-sizing: border-box;
}

.sizeEntry {
  display: list-item;
  position: relative;
}

.sizeButton {
  position: relative;
  font-family: inherit;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 0 5px;
  height: 40px;
  min-width: 40px;
  flex-grow: 1;
  margin: 0 5px 5px 0;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  color: buttontext;
  background-color: buttonface;
  box-sizing: border-box;
  border: 1px solid #d9dcdd;
  transition: border .1s cubic-bezier(.3,0,.45,1);
}

.sizeButton:hover {
  border-bottom-width: 2px;
  border-bottom-color: #000;
}

.menuText {
  display: inline;
  vertical-align: bottom;
  padding: 0 1px;
  text-decoration: underline;
  cursor: pointer;
}

.menuText:hover {
  color: #fff;
  background-color: #000;
}

