.container {
  overflow: hidden;
}

.carousel {
  width: 100%;
  max-height: 80vh;
  position: relative;
  user-select: none;
  display: flex;
}

.carouselEntry {
  min-width: 100%;
  max-height: inherit;
  transition: transform 300ms ease 0s;
}

.imageWrapper {
  width: 100%;
  max-height: inherit;
}

.image {
  height: 80vh;
  background-color: #ebedee;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  box-sizing: border-box;
}

/*
 *.image {
 *  max-height: inherit;
 *  width: auto;
 *  max-width: 100%;
 *  margin: auto;
 *  display: block;
 *}
 */

.leftArrow {
  display: block;
  font-size: 24px;
  padding: 25px;
  left: 7%;
  top: calc(50% - 10px);
  position: absolute;
  cursor: pointer;
}

.rightArrow {
  display: block;
  font-size: 24px;
  padding: 25px;
  right: 7%;
  top: calc(50% - 10px);
  position: absolute;
  cursor: pointer;
}
